<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../../partials/head %>

</head>

<body>
  <% include ../../partials/commonjs %>
    <div id="wrapper">

        <!-- Navigation -->
        <% include ../../partials/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">시나리오 상세</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="container">
              <!-- <form class="registerForm" action="/reqForm_modifyTestScenario" method="post"> -->
                <table class="table table-bordered">
                    <tr>
                      <td>시나리오 ID</td>
                      <td name="id_scenario"><%= data.ID %></td>
                      <td>시나리오 유형</td>
                      <td><%= data.TYPE_CD %></td>
                    </tr>
                    <tr>
                      <td>시나리오명</td>
                      <td colspan="4"><%= data.NAME %></td>
                    </tr>
                    <tr>
                      <td>등록자</td>
                      <td><%= data.CREATE_ID %></td>
                      <td>개발자</td>
                      <td><%= data.DEVELOPER_ID %></td>
                    </tr>
                    <tr>
                        <td colspan="4"><h5>시나리오 상세정보</h5></td>
                    </tr>
                    <tr>
                      <td>시나리오 개요</td>
                      <td>
                        <textarea class="form-control" rows="3" name="overview_scenario" readonly><%= data.SUMMARY %></textarea>
                    </td>
                      <td>시나리오 사전조건</td>
                      <td>
                        <textarea class="form-control" rows="3" name="precondition_scenario" readonly><%= data.PRECONDITIONING %></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>시나리오 업무내용</td>
                      <td colspan="4">
                        <textarea class="form-control" rows="5" name="contents_scenario" readonly><%= data.WORKFLOW %></textarea>
                      </td>
                    </tr>
                </table>

                <a href="/scenarios/manage/detail/<%= data.ID %>/edit"><input type="button" name="registration" value="수정"></a>
                <a href="#"><input type="button" name="delete" value="삭제"></a>
                <a href="/scenarios/manage"><input type="button" name="goToLists" value="목록"></a>
            <!--  </form> -->
			      </div>
            <!-- // 시나리오 등록 폼 -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
