<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../../partials/head %>

</head>

<body>
  <% include ../../partials/commonjs %>
    <div id="wrapper">

        <!-- Navigation -->
        <% include ../../partials/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">차수 수정</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- 시나리오 등록 폼 -->

            <div class="container">
              <form class="registerForm" action="/degree/manage/detail/<%= data.DE_NM %>/edit?_method=put" method="post">
                <table class="table table-bordered">
                    <tr>
                      <td>차수명</td>
                      <td><%= data.DE_NM %></td>
                    </tr>
                    <tr>
                      <td>시작일*</td>
                      <td colspan="4"><input type="date" name="date_start" value="<%= data.DE_SD %>"></td>
                    </tr>
                    <tr>
                      <td>종료일*</td>
                      <td><input type="date" name="date_end" value="<%= data.DE_ED %>"></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td>설명</td>
                      <td colspan="4">
                        <textarea class="form-control" rows="5" name="description_degree"><%= data.DESCRIPTION %></textarea>
                      </td>
                    </tr>
                </table>

                <button type="submit" name="registration" value="저장"></button>
                <a href="/degrees/manage/detail/<%= data.DE_NM %>"><input type="button" name="cancel" value="취소"></a>
              </form>

			      </div>
            <!-- // 시나리오 등록 폼 -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
